API_URL_DOG=
API_URL_CAT=

SENTRY_DSN=
SENTRY_AUTH_TOKEN=

ANDROID_ADMOB_APPID=
ANDROID_ADMOB_ADUNITID_NATIVE_BETWEEN_PETS_PICUTRES=

IOS_ADMOB_APPID=
IOS_ADMOB_ADUNITID_NATIVE_BETWEEN_PETS_PICUTRES=
